[Unit]
Description=Run watchlog script every 30 second

[Timer]
OnActiveSec=5
# Run every 30 second
OnUnitActiveSec=30
Unit=watchlog.service

[Install]
WantedBy=multi-user.target